// Questions to ask, what is being repeated consistently? 
// --> font size

// create variables for theme colors, 3 to 4 which are re-used 

// Mixins --> Is it required for this amount of code? 
// remember @include when introducing mixins
// watch - https://www.youtube.com/watch?v=3wXqwX4nu8I&t=117s&ab_channel=TheNetNinja

$primary-color: black;

.calculator {
  max-width: 400px;
  height: 540px;
  margin: 10px;
  border: solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 20px grey;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  

  &__display {
    margin: 10px;
    text-align: right;
    padding: 60px 20px;
    font-size: 25px;
    background-color: rgb(147, 220, 215);
    border-radius: 30px;
    color: $primary-color;
  }

  &__buttons {  
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    }
  
}

button {
flex: 1 20%;
}


.buttons {  
margin: 6px;
border: 0.5px solid $primary-color;
text-align: center;
font-size: 25px;
cursor: pointer;
border-radius: 40px;
background: rgb(138, 137, 137);
padding: 15px;

&__operator--blue {
  background-color: rgb(70, 206, 230);
}

&__operator--yellow {
  background-color: rgb(226, 226, 46);
}

&__operator--equal {
  background-color: rgb(129, 193, 145);
}
}

.buttons:hover {
  background-color: rgb(223, 237, 226);
  transition: 0.5s ease-in-out;
}

// Previously under buttons class

// .calculator__display {
//   margin: 10px;
//   text-align: right;
//   height: 70px;
//   line-height: 70px;
//   padding: 30px 20px;
//   font-size: 25px;
//   background-color: rgb(193, 193, 193);
//   border-radius: 30px;
//   color: $color;
// )

 // margin: 4px;
    // border: 0.5px round $color;
    // text-align: center;
    // cursor: pointer;
    // border-radius: 30px;
    // background: rgb(128, 125, 125);
    // font-weight: 500;
    // display: flex;
    // flex-wrap: wrap;
  